
<div class="container-fluid w-50 mt-3">
  <h2 class="text-warning text-center">{{title}}</h2>
  <form class="p-4 border rounded shadow" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-md-6 mb-3">
        <label for="nombre" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="producto.nombre">
        @if (!producto.nombre) {
          <p class="text-danger">Introduce el nombre del producto</p>
        }
      </div>
      <div class="col-md-6 mb-3">
        <label for="descripcion" class="form-label">Descripcion</label>
        <input type="text" class="form-control" id="descripcion" name="descripcion" [(ngModel)]="producto.descripcion">
        @if (!producto.descripcion) {
          <p class="text-danger">Introduce el precio del producto</p>
        }
      </div>
      <div class="col-md-6 mb-3">
        <label for="precio-compra" class="form-label">Precio de compra</label>
        <input type="number" class="form-control" id="precio-compra" name="precio-compra" [(ngModel)]="producto.precioCompra">
        @if (!producto.precioCompra) {
          <p class="text-danger">Introduce el precio con el que se compro el producto</p>
        }
      </div>
      <div class="col-md-6 mb-3">
        <label for="precio-venta" class="form-label">Precio de venta</label>
        <input type="number" class="form-control" id="precio-venta" name="precio-venta" [(ngModel)]="producto.precioVenta">
        @if (!producto.precioVenta) {
          <p class="text-danger">Introduce el precio con el que se va a vender el producto</p>
        }
      </div>
      <div class="col-md-6 mb-3">
        <label for="stock" class="form-label">Stock disponible</label>
        <input type="number" class="form-control" id="stock" name="stock" [(ngModel)]="producto.stock">
        @if (!producto.precioVenta) {
          <p class="text-danger">Introduce el precio con el que se va a vender el producto</p>
        }
      </div>
      <div class="col-md-6 mb-3">
        <label for="categoria" class="form-label">Categoría</label>
        <input type="number" class="form-control" id="categoria" name="categoria" [(ngModel)]="producto.categoria">
      </div>
    </div>
    <div class="container-fluid text-center">
      <button type="submit" class="btn btn-primary me-3">Editar</button>
      <a href="/" class="btn btn-danger">Regresar</a>
    </div>
  </form>
</div>

